---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { useTranslations, type Locale } from '../../i18n/utils';

export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
    { params: { lang: 'gl' } },
  ];
}

const { lang } = Astro.params as { lang: Locale };
const t = useTranslations(lang);
---

<BaseLayout title={t('meta.siteTitle')} lang={lang}>
  <h1>{t('meta.siteTitle')}</h1>
</BaseLayout>
